body {
    /* font-family: 'Libertinus Serif', serif; /\**\/ */
      font-family: 'Iosevka Aile Web'; /**/
      font-size: 18px; 
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-aile-regular.woff2') format('woff2'), url('ttf/iosevka-aile-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-aile-oblique.woff2') format('woff2'), url('ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-aile-oblique.woff2') format('woff2'), url('ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-aile-italic.woff2') format('woff2'), url('ttf/iosevka-aile-italic.ttf') format('truetype');
}


h1 {
    font-variant: small-caps;
    font-size: 26px;
    color: #6a2450;
}

h1::before {
    /* color: #463285; */
    content: "";
}

h1::after{
    /* color: #463285; */
    content: ""
}


h2 {
    font-variant: small-caps;
    font-size: 24px;
    color: #6a2450;
}

h2::before {
    color: #463285;
    content: "";
}

h2::after {
    color: #463285;
    content: ""
}


h3 {
    font-variant: small-caps;
    font-size: 22px;
    color: #6a2450;
}

h3::before {
    color: #463285;
    content: "- ";
}

h3::after {
    color: #463285;
    content: " -"
}


.sidebar {
    font-variant: small-caps;
    font-size: 18px;
}
